$navH: 56px;
$footerH: 420px;


@keyframes changeColor {
    0% {
        background-color: #ddd5a0db; /* Màu đỏ */
    }
    25% {
        background-color: #00ff00; /* Màu xanh lá cây */
    }
    50% {
        background-color: #00ffee; /* Màu xanh dương */
    }
    75% {
        background-color: #ffff00; /* Màu vàng */
    }
    100% {
        background-color: #ff00ff; /* Màu tím */
    }
}
#root {
  background-color: rgb(226, 223, 223);
   width: 100%;
    height: 100%;
    position: absolute;

  header {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: $navH;
  }

  .body {
    min-height: calc(100vh - ($navH + $footerH / 2));
  }

  footer {
    height: $footerH;
  }
  .product {
    display: flex;
    margin: 15px;
  }
}

.grid-container {

       animation: changeGradient 5s linear infinite;
    background-size: 200% 200%; /* Kích thước lớn hơn để tạo hiệu ứng gradient */
    background-image: linear-gradient(45deg, #ff6b6b, #ffa07a, #ffd700, #90ee90, #87ceeb, #c0c0c0, #dda0dd);
    background-repeat: no-repeat;
    background-position: 0% 100%;

  display: grid;
  padding: 50px 200px;
  grid-template-columns: repeat(4, 1fr); /* Tạo 4 cột */
  gap: 50px; /* Khoảng cách giữa các grid item */
}

.grid-item {

  padding: 10px;
  text-align: center;
  transition: background-color 0.5s, transform 0.5s; /* Thêm transition cho background-color và transform */

  &:hover {
    background-color: rgb(223, 241, 223);
    border-radius: 10px;
    transform: scale(1.1); /* Phóng to nút khi di chuột vào */
  }
}

.product-image {
  max-width: 200px;
  height: 300px;
  object-fit: cover;
}

/* CSS cho nút "Buy Now" và "Add to Cart" */
.buy-now,
.add-to-cart {
  background-color: #3498db;
  border-radius: 5px;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

/* Hiệu ứng hover khi di chuột vào nút */
.buy-now:hover,
.add-to-cart:hover {
  background-color: #2980b9;
  transform: scale(1.1); /* Phóng to nút khi di chuột vào */
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

.img-avatar {
  border-radius: 50%;
  width: 70px;
}

.user-info {
  position: relative;
  margin: 0 5px;
}
.img-avatar {
  left: 0;
  position: absolute;
}
.input-file {
  height: 70px;
  width: 70px;
  opacity: 0;
  cursor: pointer;
}

.fa-cart-shopping{
    font-size: 30px;
    margin: 5px;
}
.quantity{
    background-color: rgb(223, 134, 134);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 2;
    font-weight: 600;
    margin-right: 5px;
    display: none;
}
.clientPage{
    text-decoration: none;
    color: black;
    margin: 10px;
}
// .adminPage{
//     display: none;
// }