.product_container {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4e4e4;
}




.title {
  text-align: center;
  color: #3498db; /* Màu của tiêu đề */
}

.table {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #2ecc71; /* Màu của phần đầu bảng */
  color: white;
}

tr:nth-child(even) {
  background-color: #ecf0f1; /* Màu nền của các hàng chẵn */
}

tr:nth-child(odd) {
  background-color: #f8f9fa; /* Màu nền của các hàng lẻ */
}

/* Các loại màu cho cột "Status" */
.check-status {
  color: #27ae60;
}

.status-approved {
  color: #2ecc71;
}

.status-disapproved {
  color: #e74c3c;
}

.status-pending {
  color: #f39c12;
}

.status-shipped {
  color: #3498db;
}


.btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  box-shadow: 0 5px #999;
}

.btn:hover {
  background-color: #45a049;
}

.btn:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}
.btn-delete {
  background-color: red;
}
.btn-update {
  background-color: blue;
}
h2 {
  color: rgb(78, 218, 164);
}

/* Example CSS styles */
.product-row {
  background-color: #f0f0f0;
}

.product-image img {
  max-width: 100px;
  height: auto;
}

.product-name,
.product-price {
  text-align: center;
}

.product-quantity input {
  width: 40px;
}

.product-update,
.product-delete {
  text-align: center;
}

/* Add more CSS styles as needed */

.sidebar {
   width: 250px;
    position: fixed;
    top: 0;
    left: 0; /* Start with the sidebar hidden */
    height: 100%;
    background-color: #333;
    transition: left 0.3s;
    opacity: 0.8;
}

/* Định dạng các liên kết trong sidebar */
.sidebar a {
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
}

/* Định dạng khi di chuột qua các liên kết */
.sidebar a:hover {
  background-color: #555;
}

.btnToggleSidebar{
    background-color: red;
    position: absolute;
    color:rgb(157, 175, 169);
    left: -37px;
    top:400px;
    font-size:30px
    
}
.main-content, .btnToggleSidebar {
   border: none;
    background-color: transparent;
    margin-left: 250px;
    transition: margin-left 0.3s;
}
.title{
    text-align: center;
    color: rgb(175, 112, 227)
}
.order_container, .user_container,.orderDetail_container,.product_container{
    display: none;
}

/*  */

